<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-6 offset-3">
        <!-- Alert gotten from bootstrap docs -->
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%= err.message %></h4>
            <!-- don't show the error stack outside of development -->
            <% if(process.env.NODE_ENV !== "production") { %>
            <!-- For now, we can use the stack trace while developing and remove it later -->
            <!-- we will replace it with something nice for the user to look at -->
            <p><%= err.stack %></p>
            <% } %>
        </div>
    </div>
</div>
